.u-section-1 .u-sheet-1 {
  min-height: 668px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.8;
  width: 883px;
  margin: 82px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 77px;
  height: 77px;
  margin: 29px auto 48px;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}